html {
  background-color:rgb(46, 46, 46);
  color: white;
  font-family: 'Ubuntu', sans-serif;

}

.landingPage {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;

}

.App {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.RowInputs {
  width: 8rem;
  height: 8rem;
  font-size:8rem;
  border-radius: 15px;
  border: 2px solid gray;
  background-color:rgb(46, 46, 46);
  color: white;
  text-align: center;
  text-transform:uppercase;
}
